@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-image: linear-gradient(
      to left bottom,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #85a0e1,
      #74a4de,
      #67a8d7,
      #5ba6c7,
      #59a2b5,
      #5e9da4,
      #669794
    );
    background: linear-gradient(45deg, #eb5d47, #87638a, #a4f9ff);
    /* background-image: url("../public/textureBG.webp"); */
    background-size: auto;
    min-height: 100vh;
    font-family: Manrope, system-ui, sans-serif;
  }

  body {
    color: white;
  }
}
